@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Inter", sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
   

}


.blog-post {
background-color: rgb(249, 249, 250);
width: calc(25% - 30px);
min-width: 200px;
padding: 30px;
border-radius: 6px;
box-shadow: 0 8px 9px rgb(0, 0, 0 , 0.2);
margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 10px;
   
}

@media(max-width: 1200px){
    .blog-post {
        width: cal(33.33% - 30px);
    }
}

@media(max-width: 768px){
    .blog-post {
        width: cal(50% - 30px);
    }
}

@media(max-width: 480px){
    .blog-post {
        width: 100%;
    }
}